/* ====================================================
                Fonts
=====================================================*/
@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto:400,500,700');

/* font-family: 'Roboto', sans-serif;
font-family: 'Monoton', cursive; */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #eaeaea;
}

a{
    text-decoration: none;
    color: inherit;
}

/* ====================================================
                BANNER
=====================================================*/

.banner .main-cover{
    background-image: url('../images/cover.png');
    height: 600px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.banner .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 62px;
    font-family: 'Monoton', cursive;
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.banner span{
    display: block;
    height: 20px;
    background: #2196f3;
}
/*===================================
        ARTISTS LISTS
===================================*/
.artist-list{
    box-sizing: border-box;
    padding: 10px 30px;
}
.artist-list .artist-item{
    display: block;
    height: 290px;
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
}
.artist-list .artist-item div{
    background: #2196f3;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px;
}
.artist-list h4{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0;
}